@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using SimplBlog;
@model IEnumerable<SimplBlog.Models.Post>
@{
    
    Layout = null;
    
}

    @if(Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li><img src="@item.ImagePath" alt="" style="width:160px;height:auto" /></li>
                <li><a href="@item.Url=@item.PostId">@item.Title</a></li>
                <br />
            }
        </ul>
        
    }


