@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<div class="recent">
    <h3>RECENT POSTS</h3>
    @await Component.InvokeAsync("Categories")
</div>
<div class="comments">
    <h3>RECENT COMMENTS</h3>
    @await Component.InvokeAsync("Categories")
</div>
<div class="clearfix"></div>
<div class="archives">
    <h3>ARCHIVES</h3>
    @await Component.InvokeAsync("Categories")
</div>
<div class="categories">
    <h3>CATEGORIES</h3>
    @await Component.InvokeAsync("Categories")
    
</div>

<div class="clearfix"></div>
  