@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SimplBlog.Models.CategoryBl>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>

    }
</ul>

<div>
    <h2>SHow partial view</h2>
    @Html.Partial("~/Views/CategoryBls/_NaviCate.cshtml")
</div>

<div>
    <h2>Partial view</h2>
    <div id="section1">

    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/CategoryBls/_NaviCate",
            }).done(function (res) {
                $('#section1').html(res);
                });

           
        })
    </script>

}


