@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using SimplBlog;
@model IEnumerable<SimplBlog.Models.Category>
@{
    
    Layout = null;
    
}

    @if(Model != null)
    {
        
        <ul>
            @foreach(var item in Model)
            {
                <li><a href="~/Categories/Index?id=@item.CategoryId">@item.Name</a></li>

            }
        </ul>

    }


